<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/albums" <%- title === 'All Albums' ? 'class="active"' : '' %>>MY SPINBOX</a>
      <a href="/genres/new"	<%- title === 'Add Genre' ? 'class="active"' : '' %>>
      GENRE VAULT</a>
      <a href="/albums/new" <%- title === 'Add Album' ? 'class="active"' : '' %>>NEW ALBUM</a>
      <a href="/logout">LOG OUT</a>
      <% } else { %>
        <p>Welcome to SpinBox</p>
    <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>