<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% albums.forEach(function(m) { %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.artist %></td>
        <td><a href="/albums/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>