<%- include('../partials/header') %>

<% if (user.googleId) { %>
  <!-- Display Google Avatar -->
  <img src="<%= user.avatar %>" alt="<%= `${user.name}'s Google Avatar` %>" class="user-avatar" />
<% } %>

<% if (user.spotifyId) { %>
  <!-- Display Spotify Avatar -->
  <img src="https://i.imgur.com/qvdqtsc.png" alt="<%= `${user.name}'s Spotify Avatar` %>" class="user-avatar" />
<% } %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% albums.forEach(function(a) { %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.artist %></td>
        <td><a href="/albums/<%= a._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <div class="spinbox-logo">
    <img src="https://i.imgur.com/SE83GSC.png" alt="spinbox-logo" class="spinbox-logo" />
  </div>
  
<%- include('../partials/footer') %>