<%- include('../partials/header') %>


<% if (user.googleId) { %>
  <img src="<%= user.avatar %>" alt="<%= `${user.name}'s Google Avatar` %>" class="user-avatar" />
<% } %>

<% if (user.spotifyId) { %>
  <img src="<%= user.avatar %>" alt="<%= `${user.name}'s Spotify Avatar` %>" class="user-avatar" />
<% } %>

<table id="list">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% albums.forEach(function(a) { %>
      <tr>
        <td><%= a.artist %></td>
        <td><%= a.title %></td>
        <td><a href="/albums/<%= a._id %>">SCORE</a></td>
        <td>
            <form action="/albums/<%= a._id %>?_method=DELETE" method="POST" class="delete-form">
              <button type="submit" class="delete-button">X</button>
            </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <% if (user.googleId) { %>
  <div class="spinbox-logo">
    <img src="/images/sgraphicmain.png" alt="spinbox-logo" class="spinbox-logo" />
  </div>
<% } %>

  <% if (user.spotifyId) { %>
    <a href="https://open.spotify.com/user/<%= user.spotifyId %>">
      <img src="https://i.imgur.com/qvdqtsc.png" alt="<%= `${user.name}'s Spotify Profile` %>" class="spotifyProfileLink" />
    </a>
    <h4>Your Top Artists</h4>
  <% } %>
  
<%- include('../partials/footer') %>