<%- include('../partials/header') %>
<% if (user.googleId) { %>
  <img src="<%= user.avatar %>" alt="<%= `${user.name}'s Avatar` %>" class = "user-avatar" />
<% } %>
<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% albums.forEach(function(a) { %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.artist %></td>
        <td><a href="/albums/<%= a._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>